* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topNav {
  /* border: 1px solid black; */
  background-color: rgb(44, 43, 43);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.S-buttons {
  width: 150px;
  display: flex;
  justify-content: space-around;
  padding: 4px;
}

.S-buttons button {
  background-color: rgb(44, 43, 43);
  border: none;
  color: white;
  cursor: pointer;
}
.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
}
.logo {
  width: 200px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
}
.list {
  width: 30%;
  display: flex;
}
.list-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-items li {
  list-style-type: none;
  text-decoration: none !important;
  margin: 15px;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 0.1875rem;
}

.cart {
  display: flex;
  align-items: center;
}

.cart button {
  height: 30px;
  width: 45px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}
.button i {
  height: 100%;
  width: 100%;
}

.hero {
  /* border: 1px solid black; */
  height: 500px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  background-color: rgb(180, 186, 198);
}

.mainContainer {
  width: 80%;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.leftContainer {
  height: 100%;
  width: 40%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftContainer h3,
h1,
p,
.explore {
  margin-top: 10px;
  padding: 10px;
}

#E-button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.rightContainer {
  height: 100%;
  width: 40%;
  /* border: 1px solid black; */
}

.rightContainer img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-shape-divider-bottom-1741500799 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1741500799 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1741500799 .shape-fill {
  fill: #2b539a;
}
